# backend/.env.sample
PORT=4000
JWT_SECRET=YOUR_JWT_SECRET_HERE
CORS_ORIGIN=http://localhost:5173,http://YOUR_LOCAL_IP:5173,https://your-frontend-domain.com
DATABASE_URL=postgresql://YOUR_DB_USER:YOUR_DB_PASSWORD@YOUR_DB_HOST/YOUR_DB_NAME?sslmode=require
# Local PostgreSQL Example
# DB_USER=YOUR_DB_USER
# DB_HOST=localhost
# DB_NAME=YOUR_DB_NAME
# DB_PASSWORD=YOUR_DB_PASSWORD
# DB_PORT=5432

FFMPEG_PATH=C:\path\to\ffmpeg\bin\ffmpeg.exe
RTSP_URL=rtsp://YOUR_CAMERA_USERNAME:YOUR_CAMERA_PASSWORD@YOUR_CAMERA_IP:554/stream1

# ROUTER CONFIG
ROUTER_HOST=192.168.X.X
ROUTER_USER=YOUR_ROUTER_USERNAME
ROUTER_PASS=YOUR_ROUTER_PASSWORD

# DEVICE IP ADDRESSES
COMPUTER_IP_ADDRESS=192.168.X.X
COMPUTER_USERNAME=YOUR_COMPUTER_USERNAME
PHONE_IP_ADDRESS=192.168.X.X

PUBLIC_URL=https://your-backend-domain.com

EMAIL_USER=your-email@example.com
EMAIL_PASS=your-email-app-password

# MODEM WIFI IP ADDRESS EXAMPLES
# COMPUTER_IP_ADDRESS=192.168.X.X
# PHONE_IP_ADDRESS=192.168.X.X

# OPTIONAL COMMANDS
# ngrok http 4000
# ngrok tcp 22