# backend/.env.sample
PORT=XXXX
JWT_SECRET=YOUR_JWT_SECRET_HERE
CORS_ORIGIN=http://localhost:5173,http://YOUR_LOCAL_IP:5173,https://your-frontend-domain.com
DATABASE_URL=postgresql://YOUR_DB_USER:YOUR_DB_PASSWORD@YOUR_DB_HOST/YOUR_DB_NAME?sslmode=require
# Local PostgreSQL Example
# DB_USER=YOUR_DB_USER
# DB_HOST=localhost
# DB_NAME=YOUR_DB_NAME
# DB_PASSWORD=YOUR_DB_PASSWORD
# DB_PORT=XXXX

FFMPEG_PATH=C:\path\to\ffmpeg\bin\ffmpeg.exe
RTSP_URL=rtsp://YOUR_CAMERA_USERNAME:YOUR_CAMERA_PASSWORD@YOUR_CAMERA_IP:554/stream1

# ROUTER CONFIG
ROUTER_HOST=
ROUTER_USER=
ROUTER_PASS=

# DEVICE IP ADDRESSES
COMPUTER_IP_ADDRESS=
COMPUTER_USERNAME=
PHONE_IP_ADDRESS=

PUBLIC_URL=

EMAIL_USER=
EMAIL_PASS=

# =========================
# CLOUDFLARE TURNSTILE
# =========================
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

# MODEM WIFI IP ADDRESS EXAMPLES
# COMPUTER_IP_ADDRESS=192.168.X.X
# PHONE_IP_ADDRESS=192.168.X.X

# OPTIONAL COMMANDS
# ngrok http (PORT)
# ngrok tcp 22